.pf-fixed-top-small {
	margin-top: 50px;
}

.pf-fixed-left-nav {
	margin-left: 240px;
	transition: @pf-flyout-transition;
}

.pf-collapsed-left-nav {
	margin-left: 75px;
}

.pf-hide-left-nav {
	margin-left: 5px;
}