.tiles-view {
	padding-top: 20px;
	overflow: auto;

	.tile {
		background: #fff;
		width: 260px;
		height: 290px;
		border: 1px solid #eee;
		.box-shadow(0 1px 1px rgba(0,0,0,.175));
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		text-align: center;
		padding: 10px;
		cursor: pointer;

		.logo {
			display: block;
			margin: 22px auto;
		}

		.more {
			opacity: 0;
			transition: opacity 0s .2s, opacity .2s linear;
			background: #fff;
			border: none;

			.fa {
				margin-right: 5px;
				font-size: 16px;
			}
		}

		&:hover .more{
			opacity: 1;
		}
	}
}